{{=<% %>=}}
<!-- 카테고리 기본 폼 -->
<div class="card" style="border-color: {{color}}">
    <!-- 컬러는 데이터 받아서 결정 -->
    <div class="card-header" style="border-color: {{color}}">
        <a class="modal-opener" data-id="{{id}}" data-toggle="modal" data-target="#category-modify-modal" style="color: {{color}}">{{name}}</a>
        <span class="counter">{{openCount}}</span>
    </div>
    <!-- 별칭 표시 -->
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            별칭
            <span class="counter">카운트</span>
        </li>
        <li class="list-group-item">
            별칭
            <span class="counter">카운트</span>
        </li>
    </ul>
</div>
<!-- 카테고리 기본 폼 END -->
<%={{ }}=%>