{{>layout/header}}

<h1>카테고리 수정</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <input type="text" id="category-id" value="{{currentCategory.cId}}" hidden="hidden">

        <form>
            <div class="form-group">
                <label for="select-section">섹션</label>
                <select class="form-control" id="select-section">
                    {{#sectionList}}
                    <option value="{{sId}}">
                        {{sName}}
                    </option>
                    {{/sectionList}}
                </select>
            </div>
        </form>

        <form>
            <div class="form-group">
                <label for="name">이름</label>
                <input type="text" class="form-control" id="name" placeholder="카테고리 이름" value="{{currentCategory.cName}}">
            </div>
        </form>

        <form>
            <div class="form-group">
                <label for="color">색상</label>
                <input type="color" class="form-control" id="color" value="{{currentCategory.cColor}}">
            </div>
        </form>

        <button type="button" class="btn btn-danger" id="btn-category-delete">카테고리 삭제</button>
        <button type="button" class="btn btn-secondary btn-cancel">취소</button>
        <button type="button" class="btn btn-primary" id="btn-category-update">저장</button>
    </div>
</div>

{{>layout/footer}}