{{>layout/header}}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <ul class="navbar-nav">
        <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
                섹션
        </button>
        <div class="dropdown-menu">
            {{#sectionList}}
                <a class="dropdown-item" href="/{{sId}}">{{sName}}</a>
            {{/sectionList}}
        </div>
        <li class="nav-item">
            <a href="/section/save" role="button" class="btn btn-dark center">
                <span class="material-icons">add_box</span>섹션
            </a>
        </li>
        <li class="nav-item">
            <a href="/category/save" role="button" class="btn btn-dark center">
                <span class="material-icons">add_box</span>카테고리
            </a>
        </li>
    </ul>
    <form class="form-inline ml-auto" action="">
        <input class="form-control mr-sm-2" type="text" placeholder="검색어를 입력하세요">
        <button class="btn btn-success" type="submit">검색</button>
    </form>
</nav>

{{>layout/footer}}