{{>layout/header}}

<!-- 네비게이션 바 -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <ul class="navbar-nav">
        <!-- 현재 섹션 이름 변경 -->
        {{#currentSection}}
            <li class="nav-item">
                <a href="/section/update/{{sId}}?prevSectionId={{sId}}" role="button" class="btn btn-dark center">
                <span class="material-icons">drive_file_rename_outline</span>
                </a>
            </li>
        {{/currentSection}}

        <!-- 섹션 선택 드랍박스 -->
        <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
            {{#currentSection}}
                {{sName}}
            {{/currentSection}}
        </button>
        <div class="dropdown-menu">
            {{#user.sectionList}}
                <a class="dropdown-item" href="/{{sId}}">{{sName}}</a>
            {{/user.sectionList}}
        </div>

        <!-- 객체 추가 메뉴 -->

        <li class="nav-item">
            <a href="/section/save?prevSectionId={{#currentSection}}{{sId}}{{/currentSection}}" role="button"
            class="btn
            btn-dark center">
            <span class="material-icons">add_box</span>섹션
            </a>
        </li>
        <li class="nav-item">
            <a href="/category/save?prevSectionId={{#currentSection}}{{sId}}{{/currentSection}}" role="button"
            class="btn btn-dark center">
            <span class="material-icons">add_box</span>카테고리
            </a>
        </li>
        {{#currentSection}}
            <li class="nav-item">
                <a href="/bookmark/save?prevSectionId={{sId}}" role="button"
                class="btn btn-dark center">
                <span class="material-icons">add_box</span>북마크
                </a>
            </li>
        {{/currentSection}}

        <!-- 로그인 -->
        {{#user}}
            <li class="nav-item center">
                <span style="color: white; margin-right: 8px"><strong>안녕하세요. {{uName}}님</strong></span>
            </li>
            <li class="nav-item">
                <a href="/logout" role="button" class="btn btn-success active">로그아웃</a>
            </li>
        {{/user}}
        {{^user}}
            <li class="nav-item">
                <a href="/oauth2/authorization/google" role="button" class="btn btn-primary active">로그인</a>
            </li>
        {{/user}}
    </ul>

    <!-- FIXME: 검색 -->
    {{#currentSection}}
        <form class="form-inline ml-auto" action="">
            <input class="form-control mr-sm-2" type="text" placeholder="검색어를 입력하세요">
            <button class="btn btn-success" type="submit">검색</button>
        </form>
    {{/currentSection}}
</nav>

<!-- 카테고리 카드 컨테이너 -->
<section class="category-section">
    <div id="category-container" class="card-columns">
        {{#currentSection.categoryList}}
            <!-- 카테고리 기본 폼 -->
            <div class="card" style="border-color: {{cColor}}">
                <!-- 컬러는 데이터 받아서 결정 -->
                <div class="card-header" style="border-color: {{cColor}}">
                    <a href="/category/update/{{cId}}?prevSectionId={{currentSection.sId}}" style="color: {{cColor}}
                    ">{{cName}}</a>
                    <span class="counter" style="color: {{cColor}}">{{cOpenCount}}</span>
                </div>
                <!-- 별칭 표시 -->
                <ul class="list-group list-group-flush">
                    {{#bookmarkList}}
                        <li class="list-group-item" data-bookmarkId="{{bId}}">
                            <a href="{{bAddress}}?prevSectionId={{currentSection.sId}}" class="a-bookmark"
                            target="_blank"
                            style="color: {{bColor}}">{{bAlias}}</a>
                            <span class="counter" style="color: {{bColor}}">{{bOpenCount}}</span>
                        </li>
                    {{/bookmarkList}}
                </ul>
            </div>
        {{/currentSection.categoryList}}
    </div>
</section>

</div>

{{>layout/footer}}