{{>layout/header}}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="/section/update/{{currentSection.sId}}?prevSectionId={{currentSection.sId}}" role="button" class="btn
            btn-dark center">
            <span class="material-icons">drive_file_rename_outline</span>
            </a>
        </li>
        <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
            {{currentSection.sName}}
        </button>
        <div class="dropdown-menu">
            {{#sectionList}}
                <a class="dropdown-item" href="/{{sId}}">{{sName}}</a>
            {{/sectionList}}
        </div>
        <li class="nav-item">
            <a href="/section/save?prevSectionId={{currentSection.sId}}" role="button" class="btn btn-dark center">
                <span class="material-icons">add_box</span>섹션
            </a>
        </li>
        <li class="nav-item">
            <a href="/category/save?prevSectionId={{currentSection.sId}}" role="button" class="btn btn-dark center">
                <span class="material-icons">add_box</span>카테고리
            </a>
        </li>
        <li class="nav-item">
            <a href="/bookmark/save?sectionId={{currentSection.sId}}&prevSectionId={{currentSection.sId}}" role="button" class="btn btn-dark center">
            <span class="material-icons">add_box</span>북마크
            </a>
        </li>
    </ul>
    <form class="form-inline ml-auto" action="">
        <input class="form-control mr-sm-2" type="text" placeholder="검색어를 입력하세요">
        <button class="btn btn-success" type="submit">검색</button>
    </form>
</nav>

<section class="category-section">
    <div id="category-container" class="card-columns">
        {{#categoryList}}
            <!-- 카테고리 기본 폼 -->
            <div class="card" style="border-color: {{cColor}}">
                <!-- 컬러는 데이터 받아서 결정 -->
                <div class="card-header" style="border-color: {{cColor}}">
                    <a href="/category/update/{{cId}}?prevSectionId={{currentSection.sId}}" style="color: {{cColor}}">{{cName}}</a>
                    <span class="counter" style="color: {{cColor}}">{{cOpenCount}}</span>
                </div>
                <!-- 별칭 표시 -->
                <ul class="list-group list-group-flush">
                    {{#bookmarkList}}
                        <li class="list-group-item" data-bookmarkId="{{bId}}">
                            <a href="{{bAddress}}?prevSectionId={{currentSection.sId}}" class="a-bookmark" target="_blank"
                               style="color: {{bColor}}">{{bAlias}}</a>
                            <span class="counter" style="color: {{bColor}}">{{bOpenCount}}</span>
                        </li>
                    {{/bookmarkList}}
                </ul>
            </div>
            <!-- 카테고리 기본 폼 END -->
        {{/categoryList}}
    </div>
</section>

</div>

{{>layout/footer}}