{{>layout/header}}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <ul class="navbar-nav">
        <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
            섹션
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">섹션1</a>
            <a class="dropdown-item" href="#">섹션2</a>
            <a class="dropdown-item" href="#">섹션3</a>
        </div>
        <li class="nav-item">
            <button class="btn btn-dark center" data-toggle="modal" data-target="#category-save-modal">
                <span class="material-icons">add_box</span>카테고리
            </button>
        </li>
        <li class="nav-item">
            <button class="btn btn-dark center" data-toggle="modal" data-target="#category-save-modal">
                <span class="material-icons">add_box</span>북마크
            </button>
        </li>
    </ul>
    <form class="form-inline ml-auto" action="">
        <input class="form-control mr-sm-2" type="text" placeholder="검색어를 입력하세요">
        <button class="btn btn-success" type="submit">검색</button>
    </form>
</nav>

<section class="category-section">
        <div class="card-columns" id="category-container">
            {{#categoryList}}
                <!-- 카테고리 기본 폼 -->
                <div class="card" style="border-color: {{color}}">
                    <!-- 컬러는 데이터 받아서 결정 -->
                    <div class="card-header" style="border-color: {{color}}">
                        {{name}}
                        <span class="counter">{{openCount}}</span>
                    </div>
                    <!-- 별칭 표시 -->
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            별칭
                            <span class="counter">카운트</span>
                        </li>
                        <li class="list-group-item">
                            별칭
                            <span class="counter">카운트</span>
                        </li>
                    </ul>
                </div>
                <!-- 카테고리 기본 폼 END -->
            {{/categoryList}}
        </div>
</section>

{{>modal/category-save}}
{{>layout/footer}}